.tb_image{
    height: 270px;
    width: 250px;
}
.frStype{
    font-family: "Lucida Grande","Lucida Sans Unicode";
    margin-top: 22px;
    margin-bottom: 556px;
    margin-right: 732px;
    margin-left: 356px;
    border-style: inset;
}
#title{
    background-color: red;
    color: aliceblue;
    font-size: 30px;
    width: 400px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.main-form{
    width: 400px;
    height: 300px;
    background-color: aliceblue;
}
.info{
    width: 280px;
    height: 60px;
}
.info-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.info-item{
}
.interests-container{
    display: flex;
    width: 400px;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
}
#soThich{
    margin-left: 40px;
}
.anNhac{
    margin-left: 20px;
    color: red;
}
.docSach{
    margin-left: 20px;
    color: red;
}
.web{
    margin-left: 97px;
    color: red;
}
.game{
    margin-left: 15px;
    color: red;
}
.movie{
    margin-left: 9.5px;
    color: red;
}
.duLich{
    margin-left: 97px;
    color: red;
}
.button{
    margin-left: 97px;
}
.body-color{
    background-color: aquamarine;
}
.dangky_tab{
    margin-left: :100%;
}
body{
    background-color: bisque;
    text-align: center;
    font-size: medium;
    padding: 10px;
    margin: 10px;
}