.tb_image{
    height: 270px;
    width: 250px;
}
.frStype{
    font-family: "Lucida Grande","Lucida Sans Unicode";
    margin-top: 22px;
    margin-bottom: 556px;
    margin-right: 732px;
    margin-left: 356px;
    border-style: inset;
}